 .homePageWrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
 }
 .formWrapper{
   background-color: #282a36;
   padding: 20px;
   border-radius: 10px;
   width: 400px;
   max-width: 90%;
 }
 footer{
   position: fixed;
   bottom: 0;
 }
 footer a{
   color: #4aee88;
   transition: all 0.3s ease-in-out;
 }
 footer a:hover{
   color: #3acb6a;
 }
 .inputGroup{
   display: flex;
   flex-direction: column;
 }
 .mainLabel{
   margin: 0 0 20 px 0;
 }
 .homePageLogo{
   height: 80px;
   margin-bottom: 30px;
 }
 .inputBox{
   padding: 10px;
   border-radius: 10px;
   outline: none;
   border: none;
   margin-bottom: 14px;
   background-color: #eee;
   font-size: 16px;
   font-weight: bold;
 }
 .btn{
   border:none;
   padding: 10px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
 }
 .joinBtn, .leaveBtn{
   background-color: #4aee88;
   width: 80px;
   margin-left: auto;
 }
 .joinBtn:hover, .leaveBtn:hover{
   background-color: #3acb6a;
 }
 .createInfo{
   margin: 0 auto;
   margin-top: 20px;
 }
 .createNewBtn{
   color: #4aee88;
   text-decoration: none;
   border-bottom: 1px solid #4aee88;
   transition: all 0.3s ease-in-out;
 } 
 .createNewBtn:hover{
   color: #3acb6a;
   border-color: #3acb6a;
 }

 .mainWrap{
   display: grid;
   grid-template-columns: 230px 1fr;
   height: 100vh;
 }
 .aside{
   background-color: #1c1e29;
   padding: 16px; 
   color: white;
   display: flex;
   flex-direction: column; 
 }
 .innerAside{
   flex: 1;
 }
 .clientsList{
   display: flex;
   align-items: center;
   /* flex wrap so that when when no of clients increase the extra names go on next line */
   flex-wrap: wrap;
   gap: 20px;
   
 }
 .client{
   display: flex;
   align-items: center;
   /* as original direction of parent was set to column hence setting agin column makes it row */
   flex-direction: column;
   font-weight: bold;
 }
 .userName{
   margin-top: 10px; 
 }
 .logo{
   border-bottom: 1px solid #424242;
   padding-bottom: 10px;
 }
 .logoImage{
   height: 60px;
 }
 .leaveBtn{
   width: 100%; 
   margin-top: 20px;
 }
 .editorWrap{
   background-color: white;
 }